{% extends 'base.html' %}
{% block content %}

<br>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <form action="/searchgigsadvance" method="POST">
            <label><p>
                <input type="text" name="search" class="form-control" placeholder="keyword"></p>
            </label>





  <div class="form-group container">
    <ul class="ks-cboxtags">
    {% for tag in tags %}
    
      <li><input type="checkbox" name="tag" id="{{ tag.tag_id }}" value="{{ tag.tag_id }}">
      <label for="{{ tag.tag_id }}"> {{ tag.tag_name }}</label></li>
    
      {% endfor %}
    </ul>
    </div>

<p>
      <select name="location">
        {% for location in locations %}
        <option value="{{location}}">{{location}}</option>
        {% endfor %}
      </select>
</p>

  <div class="form-group">
    <div class="col col-4">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Search">Search</button></form>
    </div>
</div>
    </div>
</div>



{% endblock %}