{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-md-center">
    {% for artist in artists %}
        <div class="col col-4">
            <h3>
                {{ artist.user_name }}
            </h3>
                </p>
                    <p>
                        <p>
                            <h2>
                            <a href="/users/{{artist.id}}">Profile
                            </a>
                            </h2>                        
                        {% for tag in artist.tags %}
                        <b>{{ tag.tag_name }}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
            




{% endblock %}