{% extends 'base.html' %}
{% block content %}



<div class="container-fluid">
    <div class="row justify-content-md-center">
        <form action="/searchartists" method="POST">
            <label>
                <input type="text" name="search" class="form-control" placeholder="Search" required class="form-control">
            </label>
                <input type="submit" value="Search" class="btn"> 
                <a href="/advancedartistsearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                        Advanced Search</a>
        </form>
    </div>
</div>





<div class="container justify-content-center">
    <div class=" justify-content-center col">
        {% for artist in artists %}
        <section class="card justify-content-center row">
            <div class="card-header justify-content-center">            
                <h4>
                   <a href="/users/{{artist.id}}"> {{ artist.user_name }}</a>
                </h4>
            </div>

            <div class="card-body justify-content-center">
                <p class="card-text">
                    {{ artist.bio }}
                    
                </p>
                
                <p>
                    {% for tag in artist.tags %}
                    <b>{{ tag.tag_name }}</b>
                    {% endfor %}
                </p>
            </div>
        </section> 
        {% endfor %}
    </div>
</div>            





{% endblock %}