{% extends 'base.html' %}
{% block content %}



<div class="container">
    <div class="row justify-content-md-center justify-content-center">
        <form action="/searchartists" method="POST" class="form-inline col-6 justify-content-md-end justify-content-end">
                <input type="text" name="search" class="form-control" placeholder="Search" required class="form-control">&#160;
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Search">Search</button>
            
            </form>
            <div class="col-4 vert-control">
                <a href="/advancedartistsearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Advanced Search</a>
            </div>      
        </div>
    </div>
</div>

<div class="container justify-content-end">
    <div class="justify-content-end col">
        <div class="row justify-content-end">
        <h4></h4>
    </div></div>
</div>


<div class="container justify-content-center">
    <div class=" justify-content-center col">
        {% for artist in artists %}
        <section class="card justify-content-center row">
            <div class="card-header justify-content-center">            
                <h4>
                   <a href="/users/{{artist.id}}"> {{ artist.user_name }}</a>
                </h4>
            </div>

            <div class="card-body justify-content-center">
                <p class="card-text">
                    {{ artist.bio }}
                    
                </p>
                
                <p>
                    {% for tag in artist.tags %}
                    <i class="fas fa-tag" aria-hidden="true"></i><b> {{ tag.tag_name }} </b>
                    {% endfor %}
                </p>
            </div>
        </section> 
        {% endfor %}
    </div>
</div>            





{% endblock %}