  $('#selectableDOW').change(function() {
    mydate.options.selectableDOW = eval($(this).val());
    mydate.render();
  });

{% extends 'base.html' %}
{% block content %}

<!-- This is all css and link imports needed for this page. -->
<link href="/static/styles/general.css" rel="stylesheet" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link href="/static/styles/glDatePicker.default.css" rel="stylesheet" type="text/css">
<script src="/static/js/glDatePicker.js"></script>
<!-- End imports needed for this page. -->


<!-- I believe this div is where the React will be rendering -->
<div id="root">
</div>




<form action="/changeavailability" method="POST">

<div class="container-fluid">
        <div class="row justify-content-md-center"> 



    </div>
</div>

<div class="container-fluid">
        <div class="row justify-content-md-center">
    <input type="submit" value="Save" class="btn">
  </div>
</form>





<div class="container-fluid">
        <div class="row justify-content-md-center">
            <input type="text" id="mydate" name="mydate" gldp-id="mydate" value="Current Availability:" />
                <div gldp-el="mydate"
             style="width:400px; height:300px; position:absolute; top:70px; left:100px;">
        </div>
  </div>
</div>






<script src="/static/react.development.js"></script>
<script src="/static/react-dom.development.js"></script>
<script src="/static/babel-standalone.js"></script>


<!-- This script tag below is getting the jinja current user days list from the server-->
<!-- If I refactor the React into a separate file this should no longer be needed.-->
<!-- But I will have to find another way to get information from the db to React -->
<script type="text/javascript"> const daysweek = '{{ daysweek }}' </script> 


<script type="text/jsx">

    $(window).on('load', function()
    {
        var mydate = $('#mydate').glDatePicker(
        {
            showAlways: true,
            selectableDOW: [0, 1, 2, 3, 4, 5, 6],
           
        }
            );

    });


</script>



<!-- This is where the React magic happens -->
<script type="text/jsx">



"use strict";


function DayButtons(props) {
  const buttons = [];

  for (const [numb, day] of Object.entries({1: 'Mon', 2: 'Tue', 3: 'Wed', 4: 'Thu', 5: 'Fri', 6: 'Sat', 0: 'Sun'})) {
    buttons.push(
      <div className="dropdown datechanger" key={numb}>
            <button className="dropbtn">{day}</button>
              <div className="dropdown-content" id="selectableDOW">
                <span data-value={numb + 't'} onClick={props.onDayDropClick} onClick={props.updateDB} >Available</span>
                <span data-value={numb + 'f'} onClick={props.onDayDropClick} onClick={props.updateDB} >Unavailable</span>
            </div>
      </div>
      );
    }
  return <div className="days">{buttons}</div>
}





let daysweek = [];
let step;
for (step = 0; step <7; step++) {
  daysweek.push(daysweekL[step]);
}






class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
    availMon: daysweek[1],
    availTue: daysweek[2],
    availWed: daysweek[3],
    availThu: daysweek[4],
    availFri: daysweek[5],
    availSat: daysweek[6],
    availSun: daysweek[0]
  };

  this.changeDay = this.changeDay.bind(this);
}








  submissionRoute(evt) {
    let updateAvailDays = {dates: this.state.availDays.join('')};

    console.log(updateAvailDays);


    $.post('/changeavailability', updateAvailDays, res => {
      console.log("Request complete! Reponse:", res);
    });
  }








  changeDay(evt) {
    e.preventDefault();
    let daySelected = evt.target.dataset.value;

    fetch("</changeavailability>", {
                    method: "POST",
                    update: 'daySelected'
                });


    this.setState((prevState) => {
      let availMon = prevState.availMon.slice();
      let availTue = prevState.availTue.slice();
      let availWed = prevState.availWed.slice();
      let availThu = prevState.availThu.slice();
      let availFri = prevState.availFri.slice();
      let availSat = prevState.availSat.slice();
      let availSun = prevState.availSun.slice();

      if (daySelected[0] == 1) {
        availMon = daySelected[1];
        return { availMon };
    } else if (daySelected[0] == 2) {
        availTue = daySelected[1];
        return { availTue };
    } else if (daySelected[0] == 3) {
        availWed = daySelected[1];
        return { availWed };
    } else if (daySelected[0] == 4) {
        availThu = daySelected[1];
        return { availThu };
    } else if (daySelected[0] == 5) {
        availFri = daySelected[1];
        return { availFri };
    } else if (daySelected[0] == 6) {
        availSat = daySelected[1];
        return { availSat };
    } else {
        availSun = daySelected[1];
        return { availSun };
    }
  });
}

  render() {
    return ( 
<div className="availabilityChanger">

<div className="container-fluid">
  <div className="row justify-content-md-center">
    I am unavailable these recurring days:<br />
  </div>
</div>

<div className="container-fluid">
        <div className="row justify-content-md-center">
          <DayButtons
            onDayDropClick={this.changeDay}
          />
  </div>
</div>





</div>

    );
  }
}



ReactDOM.render(
  <App />,
  document.getElementById('root')
);


</script>




{% endblock %}