{% extends 'base.html' %}
{% block content %}

<!-- This is all css and link imports needed for this page. -->
<link href="/static/styles/general.css" rel="stylesheet" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link href="/static/styles/glDatePicker.default.css" rel="stylesheet" type="text/css">
<script src="/static/js/glDatePicker.js"></script>
<!-- End imports needed for this page. -->


<!-- I believe this div is where the React will be rendering -->
<div id="root">
</div>






<div class="container-fluid">
        <div class="row justify-content-md-center">
            <input type="text" id="mydate" name="mydate" gldp-id="mydate" value="Current Availability:" />
                <div gldp-el="mydate"
             style="width:400px; height:300px; position:absolute; top:70px; left:100px;">
        </div>
  </div>
</div>



<div class="container-fluid">
    <div class="row justify-content-md-center">
      <form action="/changeavailability" method="POST">
    <input type="submit" value="ETXTEHER" class="btn"></input>
</form>
</div>
</div>



<script src="/static/react.development.js"></script>
<script src="/static/react-dom.development.js"></script>
<script src="/static/babel-standalone.js"></script>


<!-- This script tag below is getting the jinja current user days list from the server-->
<!-- If I refactor the React into a separate file this should no longer be needed.-->
<!-- But I will have to find another way to get information from the db to React -->
<script type="text/javascript"> const daysweek = {{ daysweek|tojson }}; </script> 

{{ daysweek }}

<script type="text/jsx">

    $(window).on('load', function()
    {
        var mydate = $('#mydate').glDatePicker(
        {
            showAlways: true,
            selectableDOW: [0, 1, 2, 3, 4, 5, 6],
           
        }
            );

    });


</script>



<!-- This is where the React magic happens -->
<script type="text/jsx">
"use strict";



function DayButtons(props) {
  const buttons = [];

  for (const [numb, day] of Object.entries({1: 'Mon', 2: 'Tue', 3: 'Wed', 4: 'Thu', 5: 'Fri', 6: 'Sat', 0: 'Sun'})) {
    buttons.push(
      <div className="dropdown datechanger" key={numb}>
            <button className="dropbtn">{day}</button>
              <div className="dropdown-content" id="selectableDOW">
                <span data-value={numb + 't'} onClick={props.onDayDropClick} >Available</span>
                <span data-value={numb + 'f'} onClick={props.onDayDropClick} >Unavailable</span>
            </div>
      </div>
      );
    }
  return <div className="days">{buttons}</div>;
}



function SubmitNewAvail(props) {

return <input type="submit" value="Save Changes" className="btn" onClick={props.submitChanges} ></input>;
}



class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      availDays: daysweek
    };

    this.changeDay = this.changeDay.bind(this);
    this.submissionRoute = this.submissionRoute.bind(this);
  }



  submissionRoute(evt) {
    let updateAvailDays = {dates: this.state.availDays.join('')};

    console.log(updateAvailDays);


    $.post('/changeavailability', updateAvailDays, res => {
      $("#msg").html("You have successfully updated your availability");
    });
  }








  changeDay(evt) {
    let daySelected = evt.target.dataset.value;

    this.setState((prevState) => {
      let availDays = prevState.availDays.slice();
      console.log(daySelected);

      let indexNum = parseInt(daySelected[0]);

      console.log(indexNum);

      availDays[indexNum] = daySelected[1];
      
      console.log(availDays);

      return { availDays };
  });
}




  render() {
    return ( 
<div className="availabilityChanger">

<div className="container-fluid">
  <div className="row justify-content-md-center">
    I am unavailable these recurring days:<br />
  </div>
</div>

<div className="container-fluid">
        <div className="row justify-content-md-center">
          <DayButtons
            onDayDropClick={this.changeDay}
          />
  </div>
</div>



<div className="container-fluid">
    <div className="row justify-content-md-center">
      <SubmitNewAvail
        submitChanges={this.submissionRoute}
      />
</div>
</div>





</div>

    );
  }
}



ReactDOM.render(
  <App />,
  document.getElementById('root')
);


</script>




{% endblock %}