<!DOCTYPE html>
<html lang="en">

<head>

    <title>Bay Art Connect</title>

<meta name="keywords" content="Art, Freelance, Bay Area, Photographer, Dancer"

<!-- Imports Bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Importing FontAwesome For Small Icon Implmentation (e.g User Cog Icon) -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!-- Imports jQuery-->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:700|Poppins&display=swap" rel="stylesheet">
<link href="/static/styles/general.css" rel="stylesheet" type="text/css">

{% block head_content %}
{% endblock %}

</head>


<body>

<div class="wrapper">



<!-- Nav Bar Start UNEDITED COPY PASTE FROM BOOTSTRAP-->
  <div class="nav-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light">
  

<a class="navbar-brand" href="/">Bay Area Art Connect</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link" href="/gigs">Gigs <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/artists">Artists <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/newpost">Post a Gig <span class="sr-only mr-sm-2">(current)</span></a>
          </li>
          </ul>

              {% if current_user.is_authenticated %}
               <ul class="navbar-nav nav justify-content-end">

                <li class="nav-item active">

                  <a class="nav-link" href="/users/{{ current_user.id }}"><i class="fa fa-user-circle" aria-hidden="true"></i> {{ current_user.user_name }}
                  
                  <span class="sr-only mr-sm-2">(current)</span></a>

                </li>

                <li class="nav-item active">

                  <a class="nav-link" href="/profile"><i class="fa fa-cog" aria-hidden="true"></i> Settings
                  
                  <span class="sr-only mr-sm-2">(current)</span></a>

                </li>


            </ul>

            <form action="/logout">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log Out</button>
            </form>
            {% else %}

<ul class="navbar-nav nav justify-content-end">
  <li class="nav-item active">

      <form action="/login" method="POST" class="form-inline justify-content-end">


            <i class="fas fa-envelope" aria-hidden="true"></i>&#160; <input type="email" name="email" required class="form-control col-2" placeholder="Email">

       

            &#160; <i class="fas fa-lock" aria-hidden="true"></i>&#160;<input type="password" name="password" required class="form-control col-2" placeholder="Password">


&#160; <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log In</button>

      </form>
</li>
  <li class="nav-item active">

            &#160;

              <a href="/sign_up">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign Up</button>
            </a>
</li>
</ul>

            {% endif %}




          </div>
  </nav>
</div>
<!-- Nav Bar End UNEDITED COPY PASTE FROM BOOTSTRAP-->
</div>

{% if current_user.is_authenticated %}
{% if current_user.verified == False %}


<div class="container">
<div class="alert alert-info justify-content-center" id="alert" style="width:90%; margin:0 auto;">
    

          <form action="/verify" method="POST" class="form-inline justify-content-center">
            Please verify your email by entering the code send to&#160; <b>{{ current_user.display_email }}</b> &#160;
            <input type="text" name="verification" class="form-control col-3" placeholder="Verification Code">
            <input type="submit" value="Verify" class="btn">
          </form>

</div>
</div>
{% endif %}
{% endif %}

  {% for flash in get_flashed_messages() %}


<div class="container">
    <div class="text-center alert alert-success justify-content-center" id="alert" style="width:90%; margin:0 auto;">
    {{ flash }}
  </div>
  </div>


  {% endfor %}


<!-- 
<div class="squarea">A</div>
<div class="squareb">B</div>
<div class="squarec">C</div>
<div class="squared">D</div>
<div class="squaree">E</div>
<div class="squaref">F</div>
 -->

  <div class="start-div">
</div>
{% block content %}
{% endblock %}

<div class="end-div">
</div>

 <footer class="mt-auto footer" role="contentinfo" data-ng-controller="footerController fixed-bottom">
          
<div class="container-fluid justify-content-center footer">
    <div class="row justify-content-center">
      <div class="col-md-3 foot-link text-center">
            <a href="/info/about/" target="_self">About</a>
      </div>
       <div class="col-md-3 foot-link text-center">
             &copy; 2019 Bode Riis </li>
        </div>

        <div class="col-md-3 foot-link text-center">
             <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=bayareaartconnect@gmail.com">Contact</a>
        </div>
    </div>
</div>
</footer>



</body>



<!-- <script src="/glDatePicker.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</html>