<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bay Area Art Connect</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Importing FontAwesome For Small Icon Implmentation (e.g User Cog Icon) -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>



</head>
<body>

<!-- Nav Bar Start UNEDITED COPY PASTE FROM BOOTSTRAP-->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3F3F3;">
  <a class="navbar-brand" href="/">Bay Area Art Connect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">Gigs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/artists">Artists <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/newpost">Post a Gig <span class="sr-only mr-sm-2">(current)</span></a>
      </li>
    </ul>

    {% if current_user.is_authenticated %}
     <ul class="navbar-nav nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="/profile"><i class="fas fa-user-cog"></i> {{ current_user.user_name }}
        <span class="sr-only mr-sm-2">(current)</span></a>
      </li>
    </ul>
    <form action="/logout">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
    </form>
    {% else %}
    </ul>
    <form action="/login_form">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
    </form>
     <form action="/sign_up">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
    </form>
    {% endif %}

  </div>
</nav>

<!-- Nav Bar End UNEDITED COPY PASTE FROM BOOTSTRAP-->


  {% for flash in get_flashed_messages() %}
    <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
  {% endfor %}

{% block content %}
{% endblock %}



<!-- <script src="/glDatePicker.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>