{% extends 'base.html' %}
{% block content %}

<link href="/static/styles/general.css" rel="stylesheet" type="text/css">

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<link href="/static/styles/glDatePicker.default.css" rel="stylesheet" type="text/css">


    <script src="/static/js/glDatePicker.js"></script>




<div class="container-fluid">
        <div class="row justify-content-md-center">

    I am unavailable these recurring days:<br>

</div></div>

<form action="/changeavailability" method="POST">

<div class="container-fluid">
        <div cla ss="row justify-content-md-center"> 



{% for num, day in days.items() %}

    <div class="dropdown datechanger">
      <button class="dropbtn">{{ day }}</button>
      <div class="dropdown-content" id="selectableDOW">
        <span id="{{num}}avail">Available</span><br>
        <span id="{{num}}unavail">Unavailable</span>

      </div>
    </div>



{% endfor %}


<!-- 

{% for day in days %}

    <div class="dropdown">
      <button class="dropbtn">{{ day }}</button>
      <div class="dropdown-content" id="selectableDOW">
        <a href="#"><option value="{{ day }}avail">Available</option></a>
        <a href="#"><option value="{{ day }}unavail">Unavailable</option></a>

      </div>
    </div>



{% endfor %} -->

TEST SELECTOR






    </div>
</div>

<div class="container-fluid">
        <div class="row justify-content-md-center">
    <input type="submit" value="Save" class="btn">
  </div>
</form>





<div class="container-fluid">
        <div class="row justify-content-md-center">

<input type="text" id="mydate" name="mydate" gldp-id="mydate" value="Current Availability:" />
    <div gldp-el="mydate"
             style="width:400px; height:300px; position:absolute; top:70px; left:100px;">
        </div>

</div>
</div>

</div>
<select id="selectableDOW">
  <option value="null"> All </option>
  {% for num, day in days.items() %}
<option value="{{num}}"> {{day}} </option>
{% endfor %}
</select>
<br>






<script src="/static/react.development.js"></script>
<script src="/static/react-dom.development.js"></script>
<script src="/static/babel-standalone.js"></script>



<script type="text/jsx">

    $(window).on('load', function()
    {
        var mydate = $('#mydate').glDatePicker(
        {
            showAlways: true,
            selectableDOW: [0, 1, 2, 3, 4, 5, 6],
           
        }
            );

    });


  $('#selectableDOW').change(function() {
    mydate.options.selectableDOW = eval($(this).val());
    mydate.render();
  });


class App extends React.Component {
  render() {
}
}




</script>




{% endblock %}