{% extends 'base.html' %}
{% block content %}


<meta charset='utf-8' />
<title>Individual Gig Display</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<style>
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>

 <div class="container-fluid">
    <div class="row equal justify-content-md-center">
        <div class="col col-4"id='map'></div>
    </div>
</div>

<script type="text/javascript"> const zipdata = {{ zipdata|tojson }}
</script>

<script type="text/javascript">
mapboxgl.accessToken = 'pk.eyJ1IjoiYm9kZXJpaXMiLCJhIjoiY2p3Z3gwNWFtMDM2ZDQ4bXZ1a2VqOW5tMyJ9.9bMk93E5EgyG3ND6U15vEg';

var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [-122.407730, 37.784499],
zoom: 9
});

map.on('load', function () {

    
    map.addSource('zipcodes', {
        "type": "geojson",
        "data": zipdata
    })

    map.addLayer({
    'id': 'zipcodes',
    'type': 'fill',
    'source': 'zipcodes',
        'paint': {
            'fill-color': '#096386',
            'fill-opacity': 0.8
                }
            });
    });

</script>

{% endblock %}