{% extends 'base.html' %}

{% block head_content %}

<script type="text/javascript"> const zipdata = {{ zipdata|tojson }}
</script>
<script type="text/javascript"> const mapcenter = {{ mapcenter|tojson }}
</script>
<script type="text/javascript"> const mapzoom = {{ mapzoom|tojson }}
</script>


<meta charset='utf-8' />
<title>Individual Gig Display</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<style>
#map { position:absolute; top:0; bottom:0; width:100%; }
</style>

 
<div class="main-content">

    <div class="container">
        <div class="row">
             <div class="col col-4">

                <section class="card">

                    <div class="card-header justify-content-center">

                        {{gig.post_title}}

                    </div>
                    <div class="card-body justify-content-center">
                            <p class="card-text">

                        {{ gig.description }}

                            </p>
                    </div>

                </section>
    </div>



       <div class="col col-4" id='map'> 
            <script type="text/javascript">





                mapboxgl.accessToken = 'pk.eyJ1IjoiYm9kZXJpaXMiLCJhIjoiY2p3Z3gwNWFtMDM2ZDQ4bXZ1a2VqOW5tMyJ9.9bMk93E5EgyG3ND6U15vEg';

                var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: mapcenter,
                zoom: mapzoom
                });

                map.on('load', function () {

                    
                    map.addSource('zipcodes', {
                        "type": "geojson",
                        "data": zipdata
                    })

                    map.addLayer({
                    'id': 'zipcodes',
                    'type': 'fill',
                    'source': 'zipcodes',
                        'paint': {
                            'fill-color': '#096386',
                            'fill-opacity': 0.8
                                }
                            });
                    });

            </script>
    </div>

</div>
    </div>
</div>

{% endblock %}