{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <div class="row justify-content-md-center">
        <form action="/searchgigs" method="POST">
            <label>
                <input type="text" name="search" class="form-control" placeholder="Search" required class="form-control">
            </label>

            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Search">Search</button>

                <a href="/advancedgigsearch">
                    <i class="fa fa-search" aria-hidden="true"></i>
                        Advanced Search</a>
        </form>
    </div>
</div>

<div class="container justify-content-end">
    <div class="justify-content-end col">
        <div class="row justify-content-end">
        <h4>{{ post_count }} Current Gigs</h4>
    </div></div>
</div>

<div class="container justify-content-center">
    <div class=" justify-content-center col">
        {% for post in posts %}
        <section class="card justify-content-center row">
            <div class="card-header justify-content-center">            
                <h4>
                    {{ post.post_title }}
                </h4>
            </div>

            <div class="card-body justify-content-center">
                <p class="card-text">
                    <a href="/gig/{{post.post_id}}">{{ post.description }}
                    </a>
                </p>
                
                <p>
                    {% for tag in post.tags %}
                    <b>{{ tag.tag_name }}</b>
                    {% endfor %}
                </p>
            </div>
        </section> 
        {% endfor %}
    </div>
</div>            

            




{% endblock %}