{% extends 'base.html' %}
{% block content %}





        {% if current_user.is_authenticated %}


         {% else %}


<div class="container justify-content-center mb-5">
    <div class="justify-content-center col">

<div class="row text-align-center justify-content-center">

<h3 class="text-align-center justify-content-center">This website is currently open for Beta testing.</h3>

</div>
<div class="row">

<button type="button" class="btn btn-outline-primary btn-lg btn-block" onclick="window.location.href = '/betauser';">Click here to quick-login as a test Beta User</button>

</div>
<br></br>
          <section class="card justify-content-center row">
              <div class="card-header">


                    <h1>Register</h1>

              </div>
              <div class="card-body justify-content-center">
                <form action="/register" method="POST">

                  <div class="form-group card-text">
                    <label>
                        User Name
                        <input type="text" name="user_name" class="form-control" required class="form-control">
                    </label>
                  </div>

                <br>

                  <div class="form-group card-text">
                    <label>
                      E-mail
                      <input type="text" name="email" class="form-control" required class="form-control">
                    </label>
                  </div>

                <br>

                  <div class="form-group card-text">
                    <label>
                      Password
                      <input type="password" name="password" class="form-control" required class="form-control" minlength="5">
                    </label>
                  </div>

                <br>

                  <div class="form-group card-text">

                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Sign Up">Sign Up</button>
                  </div>

              </form>
          </div>
      </section>
    </div>
</div>



        {% endif %}


{% endblock %}