{% extends 'base.html' %}
{% block content %}





        {% if current_user.is_authenticated %}

A user is in session.


         {% else %}


<div class="well spaced" style="width:40%;">
<h1>Register</h1>


<form action="/register" method="POST">


  <div class="form-group">
    <label>
        User Name
        <input type="text" name="user_name" class="form-control" required class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      E-mail
      <input type="text" name="email" class="form-control" required class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      Password
      <input type="password" name="password" class="form-control" required class="form-control">
    </label>
  </div>

<br>


<br>

  <div class="form-group">

    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Sign Up">Sign Up</button>
  </div>

</form>
</div>



        {% endif %}


{% endblock %}