{% extends 'base.html' %}
{% block content %}

{% if current_user.verified == True %}







<div class="container justify-content-center">
    <div class="justify-content-md-center col-7 col-md-auto">
          <section class="card justify-content-center justify-content-md-center row">

              <div class="card-header"> 
                  <h1 class="text-align-center">Post a Gig</h1>
              </div>

              <div class="text-align-center card-body justify-content-center">

                  <form action="/creategig" method="POST">

<p class="form-group card-text">
        Title:<br></br>
        <input type="text" name="post_title" required></input>


</p>
                      <p class="text-align-center form-group card-text">
        Description:<br></br>
        <textarea name="description" required class="textarea" rows="15" cols="45">
 </textarea>   
                      </p>






                          <p class="text-align-center form-group card-text">
      Location:

    </p>
    <p class="text-align-center form-group card-text">
      <select name="location" class="selectpicker dropbtn">
        {% for location in locations %}
        <option value="{{location}}" class=".dropdown-content">{{location}}</option>
        {% endfor %}
      </select>
    
</p>


<p class="form-group card-text">

Is this gig paid:

</p>
<div class="justify-content-md-center text-align-center switch-field form-group card-text">

            <input type="radio" id="radio-three" name="unpaid" value="f" class="text-align-center"/>
            <label for="radio-three">Yes</label>
            <input type="radio" id="radio-four" name="unpaid" value="t" class="text-align-center" checked/>
            <label for="radio-four">No</label>
</div>


<p class="form-group card-text">
    <h3>Your post will appear in these search terms:</h3>
</p>
 <div class="form-group container card-text">
    <ul class="ks-cboxtags">
    {% for tag in tags %}
    
      <li><input type="checkbox" name="tag" id="{{ tag.tag_id }}" value="{{ tag.tag_id }}"
      {% if tag in current_user.tags %} checked {% endif %}>
      <label for="{{ tag.tag_id }}"> {{ tag.tag_name }}</label></li>
    
      {% endfor %}
    </ul>
    </div>




                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="post" >Post Gig</button>


                  </form>

                </div>

              
         
        </section>
      </div>
    </div>
</div>

<div class="end-div">
</div>






{% endif %}


{% if current_user.verified == False %}

<div class="container">
<div class="card-text alert alert-warning alert-dismissible fade show">
    <strong>Please verify your email address before posting a gig.</strong> 
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
</div>
{% endif %}

{% endblock %}