{% extends 'base.html' %}
{% block content %}

{% if current_user.verified == True %}

<form action="/creategig" method="POST">

  <div class="form-group">
    <label>
        Title:
        <input type="text" name="post_title" required class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
        Description:
        <input type="textarea" name="description" required class="form-control" class="largetextbox">
    </label>
  </div>

  <!-- <div class="form-group">
    <label>
        Hourly Rate:
        <input type="text" name="post_title" class="form-control">
    </label>
  </div> -->


    <label>
      Location:
      <select name="location">
        {% for location in locations %}
        <option value="{{location}}">{{location}}</option>
        {% endfor %}
      </select>
    </label>
  </div>

  <div class="form-group">
    {% for tag in tags %}
      <input type="checkbox" name="tag" value="{{ tag.tag_id }}">
      {{ tag.tag_name }}
      {% endfor %}
    </div>


  <div class="form-group">
    <input type="submit" value="Submit" class="btn">
  </div>


</form>

{% endif %}

{% if current_user.verified == False %}
<p>
Please verify your email address before posting a gig.
</p>
{% endif %}

{% endblock %}