{% extends 'base.html' %}
{% block content %}



<form action="/creategig" method="POST">

  <div class="form-group">
    <label>
        Title:
        <input type="text" name="post_title" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
        Description:
        <input type="textarea" name="description" class="form-control" class="largetextbox">
    </label>
  </div>

  <!-- <div class="form-group">
    <label>
        Hourly Rate:
        <input type="text" name="post_title" class="form-control">
    </label>
  </div> -->

  <div class="form-group">
    <label>
        Zipcode:
        (If the gig is over multiple locations, please just enter one.)
        <input type="text" name="zipcode" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
      Location Zipcode:
      <select>
        {% for zipcode in zipcodes %}
        <option value="{{zipcode}}">{{zipcode}}</option>
        {% endfor %}
      </select>
    </label>

    <label>
      Or select by location:
      <select>
        {% for location in locations %}
        <option value="{{location}}">{{location}}</option>
        {% endfor %}
      </select>
    </label>
  </div>


  <div class="form-group">
    <input type="submit" value="Submit" class="btn">
  </div>


</form>

ADD TAGS



{% endblock %}