{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-md-center">
    {% for post in posts %}
        <div class="col col-4">
            <h3>
                {{ post.post_title }}
            </h3>
                <p class="postdescription">
                    {{ post.description }}
                </p>
                    <p>
                        {% for tag in post.tags %}
                        <b>{{ tag.tag_name }}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
            




{% endblock %}