{% extends 'base.html' %}
{% block content %}

<h1>Account</h1> 
<br></br>


<h1> {{ current_user.user_name }} </h1>
<p>
   {{ email }}
<br>
   {{ current_user.bio }}
</p>

<a href="/changepic">Change your profile picture.</a>

<p>
  {% if current_user.is_artist %}

    <a href="/availability"> Update your availability.</a>
    <br>
</p>

{% endif %}


    <form action="/update_info" method="POST" class="form">
        <h3>Do you wish to be listed as an active artist?</h3>
    <div class="switch-field">
  {% if current_user.is_artist %}
        <input type="radio" id="radio-one" name="is_artist" value="t" checked/>
        <label for="radio-one"><b>Yes</b></label>
        <input type="radio" id="radio-two" name="is_artist" value="f" />
        <label for="radio-two"><b>No</b></label>
        {% else %}
        <input type="radio" id="radio-one" name="is_artist" value="t"/>
        <label for="radio-one">Yes</label>
        <input type="radio" id="radio-two" name="is_artist" value="f" checked/>
        <label for="radio-two">No</label>
{% endif %}
    </div>

<h3>Show unpaid gigs?</h3>
    <div class="switch-field">
        {% if current_user.show_unpaid %}
            <input type="radio" id="radio-three" name="show_unpaid" value="t" checked/>
            <label for="radio-three">Yes</label>
            <input type="radio" id="radio-four" name="show_unpaid" value="f" />
            <label for="radio-four">No</label>
        {% else %}
            <input type="radio" id="radio-three" name="show_unpaid" value="t" />
            <label for="radio-three">Yes</label>
            <input type="radio" id="radio-four" name="show_unpaid" value="f" checked/>
            <label for="radio-four">No</label>
        {% endif %}

    </div>
  {% if current_user.is_artist %}

    Appear in these search terms:

  <div class="form-group">
    {% for tag in tags %}
      <input type="checkbox" name="tag" value="{{ tag.tag_id }}"
      {% if tag in current_user.tags %} checked {% endif %}>
      {{ tag.tag_name }}
      {% endfor %}
    </div>

{% endif %}




 <div class="form-group">

<input type="submit" value="Save Changes" className="btn"></input>
</div>
</form>


<br>
{% endblock %}