{% extends 'base.html' %}
{% block content %}


<div class="container justify-content-center">
    <div class="justify-content-md-center col-7 col-md-auto">
          <section class="card justify-content-center justify-content-md-center row">
              <div class="card-header"> 

                   <h1 class="text-align-center"> {{ current_user.user_name }} </h1>

              </div>
              <div class="text-align-center card-body justify-content-center">

{% if current_user.verified == False %}

<div class="card-text alert alert-warning alert-dismissible fade show">
    <strong>To edit your profile you first need to verify your email address.</strong> 
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

{% else %}


<form action="/update_info" method="POST" class="form">
<p class="text-align-center form-group card-text">
{{ current_user.display_email }}
</p>

<img class="profile-image" src="{{ url }}" alt="{{current_user.user_name}} Profile Picture"></img>
<p class="form-group card-text">
<a href="/changepic"><h5>Change your profile picture.</h5></a>
</p>

<p class="form-group card-text">
<a href="/seeownposts"><h5>Click here to view all your own posts.</h5></a>
</p>

<p class="form-group card-text">
User Bio: <br></br>

<textarea name="bio" rows="10" cols="30">{% if current_user.bio != None %} {{ current_user.bio }} {% endif %}</textarea>
</p>

<br>
<div>
<p class="form-group card-text">
To change your password type your old password here: <br>

<input type="password" name="oldpw"></input>
</p>
<p class="form-group card-text">
And your new password here:<br>

<input type="password" name="newpw1"></input>
</p>
<p class="form-group card-text">
Verify new password:<br>

<input type="password" name="newpw2"></input>
</p>
</div>


<div>
<p class="form-group card-text">
Website: <br></br>

<input type="text" name="link_to_website" {% if current_user.link_to_website != None %} value="{{ current_user.link_to_website }}" {% endif %} ></input>
</p>
</div>

<br>
<div>
<p class="form-group card-text">
Phone: <br>

<input type="text" name="phone" {% if current_user.phone != None %} value="{{ current_user.phone }}" {% endif %} ></input>
</p>
</div>

<br>

<p class="form-group card-text">
<h3>Show unpaid gigs?</h3>
</p>


    <div class="justify-content-md-center text-align-center switch-field form-group card-text">
        {% if current_user.show_unpaid %}
            <input type="radio" id="radio-three" name="show_unpaid" value="t" class="text-align-center" checked/>
            <label for="radio-three">Yes</label>
            <input type="radio" id="radio-four" name="show_unpaid" value="f" class="text-align-center"/>
            <label for="radio-four">No</label>
        {% else %}
            <input type="radio" id="radio-three" name="show_unpaid" value="t" class="text-align-center"/>
            <label for="radio-three">Yes</label>
            <input type="radio" id="radio-four" name="show_unpaid" value="f" class="text-align-center" checked/>
            <label for="radio-four">No</label>
        {% endif %}

    </div>

{% if current_user.verified %}
                

  <p class="form-group card-text">
  <h3>Do you wish to be listed as an active artist?</h3>
  </p>

         
      <div class="justify-content-md-center text-align-center switch-field form-group card-text">
    {% if current_user.is_artist %}
          <input type="radio" id="radio-one" name="is_artist" value="t" checked/>
          <label for="radio-one"><b>Yes</b></label>
          <input type="radio" id="radio-two" name="is_artist" value="f" />
          <label for="radio-two"><b>No</b></label>
          {% else %}
          <input type="radio" id="radio-one" name="is_artist" value="t"/>
          <label for="radio-one">Yes</label>
          <input type="radio" id="radio-two" name="is_artist" value="f" checked/>
          <label for="radio-two">No</label>
  {% endif %}
      </div>

{% endif %}


<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Update your availability.</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Warning:</h4>
      </div>
      <div class="modal-body">
        <p>This will take you away from the current page. Any unsaved data will be lost. Do you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stay on Current Page</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" href="/availability">Continue to Availability</button>
      </div>
    </div>

  </div>
</div>

<!-- 
{% if current_user.is_artist %}
<p class="form-group card-text">
    <a href="/availability"> Update your availability.</a>
</p>
{% endif %} -->


<p class="form-group card-text">
    <h3 class="tags">Appear in these Artist search terms:</h3>
</p>
  <div class="form-group container card-text">
    <ul class="ks-cboxtags tags">
    {% for tag in tags %}
    
      <li><input type="checkbox" name="tag" id="{{ tag.tag_id }}" value="{{ tag.tag_id }}" class="tags"
      {% if tag in current_user.tags %} checked {% endif %} > </input>
      <label for="{{ tag.tag_id }}"> {{ tag.tag_name }}</label></li>
    
      {% endfor %}
    </ul>
    </div>


                  <div class="form-group card-text">

                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Save Changes" >Save Changes</button>
                  </div>

              </form>
              {% endif %}
          </div>
      </section>
    </div>
</div>

<div class="end-div">
</div>

<script type="text/javascript">

function artistOn() {
  $('.tags').show();
}

function artistOff() {
  $('.tags').hide();
}

    $(document).ready(function(){
            if($('#radio-two').prop("checked") == true){
              $('.tags').hide()
      };
    });

$('#radio-one').on('click', artistOn);

$('#radio-two').on('click', artistOff);

</script>


{% endblock %}