{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Register</h1>

<form action="/register" method="POST">

  <div class="form-group">
    <label>
        User Name*
        <input type="text" name="user_name" class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      E-mail*
      <input type="text" name="email" class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      Password*
      <input type="password" name="password" class="form-control">
    </label>
  </div>

<br>


  <div class="form-group">
    <label>
      Phone Number
      <input type="number" name="phone" class="form-control">
    </label>
  </div>

<br>


  <div class="form-group">
    <label>
      Hourly Rate:<br>
      (This will be used to filter artist searches. This is in no way legaly binding.)
      <input type="number" name="hourly_rate" class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      Link to website/portfolio:
      <input type="text" name="link_to_website" class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      Bio:
      <input type="text-area" name="bio" class="form-control">
    </label>
  </div>

<h3>Do you wish to be publically listed as an artist? (This can be changed later)</h3>
  <div class="form-group switch-field">
        <input type="radio" id="radio-one" name="is_artist" value="t" checked/>
        <label for="radio-one"><b>Yes</b></label>
        <input type="radio" id="radio-two" name="is_artist" value="f" />
        <label for="radio-two"><b>No</b></label>
</div>
<br>
<h3>Show unpaid gigs?</h3>
    <div class="form-group switch-field">
        <input type="radio" id="radio-three" name="show_unpaid" value="t" checked/>
        <label for="radio-three">Yes</label>
        <input type="radio" id="radio-four" name="show_unpaid" value="f" />
        <label for="radio-four">No</label>
    </div>



  <div class="form-group">
    <label for="exampleFormControlFile1">Upload profile picture: NOTE TO BODE, IMPLEMENT MAX FILE SIZE</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>

<br>

  <div class="form-group">
    <input type="submit" value="Sign Up" class="btn">
  </div>

</form>
</div>
{% endblock %}