{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Register</h1>

<form action="/register" method="POST">

  <div class="form-group">
    <label>
        User Name*
        <input type="text" name="user_name" class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      E-mail*
      <input type="text" name="email" class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      Password*
      <input type="password" name="password" class="form-control">
    </label>
  </div>

<br>


  <div class="form-group">
    <label>
      Hourly Rate
      <input type="number" name="hourly_rate" class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      Link to website/portfolio:
      <input type="text" name="link_to_website" class="form-control">
    </label>
  </div>

<br>

  <div class="form-group">
    <label>
      Bio:
      <input type="text-area" name="bio" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
      Would you like your profile included on the artists page?
      <br>
      <input type="radio" name="isartist" value="yes"> Yes<br>
      <input type="radio" name="isartist" value="no"> No<br>
    </label>

<br>

  <div class="form-group">
    <label for="exampleFormControlFile1">Upload profile picture: NOTE TO BODE, IMPLEMENT MAX FILE SIZE</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>

<br>

  <div class="form-group">
    <input type="submit" value="Sign Up" class="btn btn-danger">
  </div>

</form>
</div>
{% endblock %}