{% extends 'base.html' %}




{% block head_content %}

<!-- This is all css and link imports needed for this page. -->
<link href="/static/styles/general.css" rel="stylesheet" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link href="/static/styles/glDatePicker.default.css" rel="stylesheet" type="text/css">
<script src="/static/js/glDatePicker.js"></script>

<!-- End imports needed for this page. -->
{% endblock %}

{% block content %}




<div class="main-content">

  <div class="container forever-container">

    <div class="row forever-row">

      <div class="col-6">

        <section class="card">

          <div class="card-header justify-content-center">

            
            <h3 class="text-align-center">
              {{user.user_name}}
            </h3>
          </div>

<div class="text-align-center card-body justify-content-center">


<img class="profile-image" src="{{ url }}" alt="{{current_user.user_name}} Profile Picture"></img>

<div class="card-text justify-content-center row">
            <p class="row card-text user-bio">
              <br>
              {{user.bio}}
              <br></br>
            </p>
              </div>

{% if user.link_to_website != None %}
<div class="card-text justify-content-center row">
            <p class="row card-text">
              <br>
              <a href="{{ user.link_to_website }}">{{ user.link_to_website[8:] }}</a>
            </p>
              </div>
{% endif %}


              <div class="card-body justify-content-center row">

            <p class="card-text ">
              {% for tag in user.tags %}
              <i class="fas fa-tag" aria-hidden="true"></i> {{ tag.tag_name }}
              {% endfor %}
            </p>

          </div>
</div>
        </section>
        </div>

        <div class="col-6 map-column">
            <section class="card">

                  <div class="card-header justify-content-center">
                  <h4 class="text-align-center">
                  Artist's Recurring Availability:</h4>
                  </div>

                    <div class="card-body map-holder" id="root">
                        <!-- <div id="root">
                        </div> -->
                  </div>
            </section>
        </div>

      </div>
    </div>
  </div>
</div>




<script src="/static/react.development.js"></script>
<script src="/static/react-dom.development.js"></script>
<script src="/static/babel-standalone.js"></script>

<script type="text/javascript"> const daysweek = {{ daysweek|tojson }}; </script>
<!-- This is where the React magic happens -->
<script type="text/jsx">
"use strict";

class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      availDays: daysweek,
    };

    this.calendarRef = React.createRef();
  }

  componentDidMount() {
    var updateWeek = this.state.availDays;

    console.log("from componentDidMount")
    console.log(updateWeek);

  function setDays(updateWeek) {
    var selectableDOW_ = [];
    for(let i = 0; i <7; i++){
      if (updateWeek[i] == 't') {
        selectableDOW_.push(i);
        console.log(selectableDOW_);
      }
      console.log (selectableDOW_);
    }
    return selectableDOW_;
  }

    var sDOW = setDays(updateWeek);

    const calendarEl = this.calendarRef.current;
    $(calendarEl).glDatePicker(
        {
            showAlways: true,
            selectableDOW: sDOW,
           
        }
            );
  }


  render() {
    return (
<div>
              <div className="myCalen" id="mydate" ref={this.calendarRef}>

                  </div>
</div>


    );
  }
}


ReactDOM.render(
  <App />,
  document.getElementById('root')
);


</script>



{% endblock %}