


body {
font-family: 'Poppins', sans-serif;
background-color: #f3f3f3;
}

h1, h2, h3, h4, h5 {
font-family: 'Lato', sans-serif;

}


.logo {
font-family: 'Lato', sans-serif;

}

.text-align-center {
text-align: center;
}

.profile-image {
  display: inline-block;
  position: relative;
  width: 230px;
  height: auto;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #828282;
}

.element-align-center {
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.vert-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.linkbuffer{
  margin: 10px;
}
.footer {
  color: #f3f3f3;
  background-color: #001133;
  position: fixed;
  bottom: 0;
  padding-top:15px;
  padding-bottom:15px;
  margin-top: auto!important;
  z-index: 7;
}

.end-div {
 height: 3%;
 padding-top:15px;
 padding-bottom:30px;
}

.start-div {
 height: 3%;
 padding-top:15px;
 padding-bottom:15px;
}

.foot-link a {
  color: #f3f3f3;
}

.forever-row {
height: 100%;
}

.forever-container {
  height: 90%;
}

.user-bio {
  text-align: center;
  width: 95%;
}

.map-holder {
  display: block;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
 /* width: 50%;*/
}
/*
.map-column {
  width: 20px;
}*/

input[type=text]:focus {
  -webkit-box-shadow: 1px 1px 20px 6px #FF8C26;
  -moz-box-shadow: 1px 1px 20px 6px #FF8C26;
  box-shadow: 1px 1px 20px 6px #FF8C26;
  border: 0px;
}

input[type=password]:focus {
  -webkit-box-shadow: 1px 1px 20px 6px #FF8C26;
  -moz-box-shadow: 1px 1px 20px 6px #FF8C26;
  box-shadow: 1px 1px 20px 6px #FF8C26;
  border: 0px;

}

input[type=number]:focus {
  -webkit-box-shadow: 1px 1px 20px 6px #FF8C26;
  -moz-box-shadow: 1px 1px 20px 6px #FF8C26;
  box-shadow: 1px 1px 20px 6px #FF8C26;
  border: 0px;
}

input[type=email]:focus {
  -webkit-box-shadow: 1px 1px 20px 6px #FF8C26;
  -moz-box-shadow: 1px 1px 20px 6px #FF8C26;
  box-shadow: 1px 1px 20px 6px #FF8C26;
  border: 0px;
}

text-area:focus {
  -webkit-box-shadow: 1px 1px 20px 6px #FF8C26;
  -moz-box-shadow: 1px 1px 20px 6px #FF8C26;
  box-shadow: 1px 1px 20px 6px #FF8C26;
  border: 0px;
}

.textarea:focus {
  -webkit-box-shadow: 1px 1px 20px 6px #FF8C26;
  -moz-box-shadow: 1px 1px 20px 6px #FF8C26;
  box-shadow: 1px 1px 20px 6px #FF8C26;
  border: 0px;
}

/*
  width: 400px;
  height: 300px;
  position: absolute;
  top: 70px;
  left: 100px;
*/

.button-buffer{
  padding-bottom: 80px;

}


/******************************/
/* Links and Nav Bar override */
/******************************/
/* box shadow Horz offset, vert offset, blur radius, spread radius */

.navbar {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 1px #d6d6d6;
}


.card-header {
  background-color: #D9F6Fc;
}


.gigshadow {
   box-shadow: 1px 1px 10px 1px #d6d6d6; 
}

/*
.card-header {
  background-color: #D9F6Fc;
  border:1px solid #E0E0E0; 
  box-shadow: 1px -1px 10px 1px #d6d6d6;
 
}

.card-body {
  border:1px solid #E0E0E0; 
  box-shadow: 1px -1px 10px 1px #d6d6d6;
 
} */




.navbar-nav:hover .nav-item:hover .nav-link:hover { 
  color: #FF8C26;
 }

/*This seems to not be working*/
.navbar-brand:focus,.navbar-brand:hover {
  color: #FF8C26;
}

.navbar-light {
  background-color: #FFFFFF;
}

a {
  color: #096386;
}

a:hover { 
  color: #FF8C26;
 }


.alert-info {
  color:#000000;
  background-color:#D9F6FC;
  border-color:#bee5eb
  }

.alert-info hr{border-top-color:#D9F6FC}.alert-info 

.btn-warning {
color:#ffffff;
background-color:#0c7f99;
border-color:#0c7f99;
}

.btn-warning {
  color:#FFFFFF;
  background-color:#0c7f99;
  border-color:#0c7f99;
  font-weight:bold;}

.btn-warning:hover{color:#0c7f99;background-color:#FFFFFF;border-color:#0c7f99}

.btn-warning.focus,.btn-warning:focus{
  box-shadow:0 0 0 .2rem rgba(222,170,12,.5)}



.btn-orange {
  color: #000000;
  background-color: #FF8C26;
  border: 2px solid #000000;
}

.btn-orange:hover {
  color: #FF8C26;
  background-color: #000000;
  border: 2px solid #FF8C26;
}

.btn-outline-primary {
  color:#0c7f99;
  background-color:#FFFFFF;
  border: 2px solid #0c7f99;
  }

.btn-outline-primary:hover {
  color:#fff;
  background-color:#0c7f99;
  border: 2px solid #0c7f99;
  }
btn-outline-logo
  .btn-outline-primary.focus,
  .btn-outline-primary:focus {
    box-shadow:0 0 0 .2rem #D9F6Fc
    }

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color:#096386;
  background-color:transparent
  }


.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0c7f99;
  border-color: #FF8C26;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #FF8C26;
}

.squarea {
  height: 50px;
  width: 50px;
  background-color: #0c7f99;
}

.squareb {
  height: 50px;
  width: 50px;
  background-color: #4fdFFF;
}
.squarec {
  height: 50px;
  width: 50px;
  background-color: #D9F6Fc;
}
.squared {
  height: 50px;
  width: 50px;
  background-color: #FF8C26;
}
.squaree {
  height: 50px;
  width: 50px;
  background-color: #f3f3f3;
}
.squaref {
  height: 50px;
  width: 50px;
  background-color: #064350;
}


/********************/
/* Dropdown Buttons */
/********************/
.dropbtn {
  background-color: #D9F6Fc;
  color: #064350;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-buttons:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #76e6ff}


.selectdanger {
  color: #000000;
  background-color: #FF8C26;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.selectdangercontent {
  position: absolute;
  color: #000000;
  background-color: #FF8C26;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/*****************/
/*  Buttons */
/*****************/



.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #FFFFFF;
    color: #696969;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    color: #FFFFFF;
    background-color: #0c7f99;
    font-weight: bold;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

/*****************/
/* Map Id */
/*****************/

#map {
  position:absolute;

  top:5;
  bottom:5;
  width:100%;
}

.main-content {
  position: relative;
  height: 100vh;
}


/*****************/
/* Checkboxes */
/*****************/



ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid #0c7f99;
    color: #696969 ;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #4fdFFF;
    background-color: #0c7f99;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}

/*ul.ks-cboxtags li input[type="checkbox"]:disabled {
 color: white;
 border: 2px solid #696969;
}*/


ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #FF8C26;
}



