body {
font-family: 'Poppins', sans-serif;
background-color: #f3f3f3;
}

h1, h2, h3, h4, h5 {
font-family: 'Lato', sans-serif;

}

.logo {
font-family: 'Lato', sans-serif;

}

.text-align-center {
text-align: center
}


.element-align-center {
  align-items: center;
  justify-content: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.vert-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer {
  color: #f3f3f3;
  background-color: #001133;
  position: fixed;
  bottom: 0;
  padding-top:15px;
  padding-bottom:15px;
  margin-top: auto!important;
  z-index: 7;
}

.end-div {
 height: 3%;
 padding-top:15px;
 padding-bottom:15px;
}
.foot-link a {
  color: #f3f3f3;
}

.forever-row {
height: 100%;
}

.forever-container {
  height: 90%;
}
/******************************/
/* Links and Nav Bar override */
/******************************/
/* box shadow Horz offset, vert offset, blur radius, spread radius */

.navbar {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 1px #d6d6d6;
}

.card-header {
  background-color: #D9F6Fc;
  border-bottom:1px solid #ffffff;  
}

.navbar-nav:hover .nav-item:hover .nav-link:hover { 
  color: #FF8C26;
 }

/*This seems to not be working*/
.navbar-brand:focus,.navbar-brand:hover {
  color: #FF8C26;
}

.navbar-light {
  background-color: #FFFFFF;
}

a {
  color: #096386;
}

a:hover { 
  color: #FF8C26;
 }


.alert-info {
  color:#000000;
  background-color:#D9F6FC;
  border-color:#bee5eb
  }

.alert-info hr{border-top-color:#D9F6FC}.alert-info 

.btn-warning {
color:#ffffff;
background-color:#0c7f99;
border-color:#0c7f99;
}

.btn-warning {
  color:#FFFFFF;
  background-color:#0c7f99;
  border-color:#0c7f99;
  font-weight:bold;}

.btn-warning:hover{color:#0c7f99;background-color:#FFFFFF;border-color:#0c7f99}

.btn-warning.focus,.btn-warning:focus{
  box-shadow:0 0 0 .2rem rgba(222,170,12,.5)}





.btn-outline-primary {
  color:#0c7f99;
  background-color:#FFFFFF;
  border-color:#0c7f99
  }

.btn-outline-primary:hover {
  color:#fff;
  background-color:#0c7f99;
  border-color:#0c7f99
  }
btn-outline-logo
  .btn-outline-primary.focus,
  .btn-outline-primary:focus {
    box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
    }

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color:#096386;
  background-color:transparent
  }

.squarea {
  height: 50px;
  width: 50px;
  background-color: #0c7f99;
}

.squareb {
  height: 50px;
  width: 50px;
  background-color: #4fdFFF;
}
.squarec {
  height: 50px;
  width: 50px;
  background-color: #D9F6Fc;
}
.squared {
  height: 50px;
  width: 50px;
  background-color: #FF8C26;
}
.squaree {
  height: 50px;
  width: 50px;
  background-color: #f3f3f3;
}
.squaref {
  height: 50px;
  width: 50px;
  background-color: #064350;
}


/********************/
/* Dropdown Buttons */
/********************/
.dropbtn {
  background-color: #D9F6Fc;
  color: #064350;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-buttons:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #76e6ff}


/*****************/
/*  Buttons */
/*****************/



.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #F3F3F3;
    color: black;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #cdeffc;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

/*****************/
/* Map Id */
/*****************/

#map {
  position:absolute;
  top:5;
  bottom:5;
  width:100%;
}

.main-content {
  position: relative;
  height: 100vh;
}

